@page  "/myFiles"
@using  MyCloudStore.Shared.Responses;
@using MyCloudStore.CryptoLibrary.Hash;
@inject HttpClient  httpClient;
@inject IFileService fileService;
@inject IModalService  modalService;
@inject IJSRuntime js;

<h1>My Files</h1>

@if (!String.IsNullOrEmpty(ErrorMessage))
{
	<div class="alert alert-danger" role="alert">
		<strong>@ErrorMessage</strong>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
}

@if (files == null)
{
	<p><em>Loading file list..</em></p>
}
else
{
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>Uploaded on</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var file in files)
			{
				<tr>
					<td>@file.FileName</td>
					<td>@file.Created.ToShortDateString()</td>
					<td>
						<button @onclick="@(() => ShowHashValueModal(file.HashValue))" class="btn btn-primary">
							<span class="oi oi-eye" aria-hidden="true"></span>
							See hash
						</button>
					</td>
					<td>
						<button @onclick="@(() => Download(file.Id))" class="btn btn-primary">
							<span class="oi oi-cloud-download" aria-hidden="true"></span>
							Download
						</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
}

@functions {
	List<FileResult> files;
	string ErrorMessage { get; set; }

	protected void ShowHashValueModal(string hashValue)
	{
		var parameters = new ModalParameters();
		parameters.Add("HashValue", hashValue);

		modalService.Show<TigerHashValue>("Tiger Hash Value", parameters);
	}

	protected async Task Download(Guid fileId)
	{
		var text = "Hello, world!";
		var bytes = System.Text.Encoding.UTF8.GetBytes(text);

		FileResult file = await fileService.GetFileAsync(fileId);

		// TODO
		// get algorithm and key
		// decrypt
		// then:

		// check if the hash value matches
		TigerHash tigerHasher = new TigerHash();
		byte[] receivedFileHash = tigerHasher.Hash(file.Content, file.Content.Length);
		string receivedFileHashString = Convert.ToBase64String(receivedFileHash);

		if (receivedFileHashString != file.HashValue)
		{
			ErrorMessage = "Hash values are not matching. Error occured during decryption.";
			StateHasChanged();
			return;
		}

		await FileUtil.SaveAs(js, file.FileName, file.Content);
	}

	protected override async Task OnInitializedAsync()
	{
		await Load();
	}

	protected async Task Load()
	{
		files = await fileService.GetFilesAsync();
	}
}